.app{
  height: 100vh;
  /* overflow: hidden; */
}

.app .section{
  width: 100%;
  /* height: calc(100vh - 71px); */
  position: relative;
  top: 71px;
  scroll-behavior: smooth;
   /* scroll-snap-type: y mandatory; */
    scrollbar-width: none; 
}